.noticias {
  background-color: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.noticias-table {
  width: 98%;
}

.noticias-table td {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 26px;
  font-weight: 400;
}
.noticias-table-rectangle {
  width: 20rem;
  height: 20rem;
  margin: 0 1rem;
  background-color: #406aa6;
  border-radius: 20px;
}

.noticias-img {
  width: 90%;
}

.titulo {
  color: #92e9f2;
  font-size: 30px;
}

.AprobarPerfil {
  background-color: #b2c7d8;
  width: 3rem;
  border-radius: 97px;
  border: none;
  color: white;
  padding: 8px 4px;
}
.Borrarperfil {
  background-color: #406aa6;
  width: 3rem;
  border-radius: 97px;
  border: none;
  color: white;
  padding: 8px 4px;
}
