.background{ 
    height: 100%;
    background-image: url("../assets/Backgroundimg.png");
    background-size: cover;
}

.Crearcuentarectangle{
    background-color: #406aa6;
    height: 680px;
    transform: translateX(25%);
    position: absolute;
    top: 25px;
    width: 1000px;
     
    align-items: center;
    justify-content: center;
}
.Crearcuenta-logo{
    transform: translate(25%,25%);
    width: 600px;
}
.Crearcuentainputs{
    width: 500px;
    height: 40px;
    transform: translate(50%, 5%);  
    background-color: #4E90CA;
    border: none;
  color: white;
  padding: 8px 4px;
}
#nombrecompletoregistro{
    width: 500px;
    height: 40px;
    transform: translate(50%, 5%);  
    background-color: #4E90CA;
    border: none;
  color: white;
  padding: 8px 4px;
}
#nombreusuarioregistro{
    width: 500px;
    height: 40px;
    transform: translate(50%, 5%);  
    background-color: #4E90CA;
    border: none;
  color: white;
  padding: 8px 4px;
}

.Crearcuentasubmit{
    width: 500px;
    height: 40px;
    transform: translate(50%, 5%);  
    background-color: #1b425f;
    border-radius: 97px;
    border: none;
  color: white;
  padding: 8px 4px;
}