.Editarcuentainputs::placeholder {
  color: white;
  opacity: 0.5;
}

.Editarcuentainputs {
  width: 20rem;
  height: 2.5rem;
  margin: 0.5rem;
  background-color: #4e90ca;
  border: none;
  color: white;
  border-radius: 20px;
}

.Editarcuentasubmit {
  width: 10rem;
  height: 4rem;
  margin: 1rem;
  padding: 0.5rem 0.5rem;
  background-color: #1b425f;
  border-radius: 97px;
  border: none;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}
