.header-1 {
  padding: 0.8rem 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #374f63;
}

.header-1 .header-inputs {
  margin: 1rem 2rem;
  padding: 0rem 1rem;
  width: 50rem;
}

.header-logo {
  cursor: pointer;
  width: 13rem;
}

.header-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-icon {
  width: 4rem;
  margin: 0.6rem;
  cursor: pointer;
}

.header-form {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.header-form input {
  display: flex;
  flex-direction: row;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: black;
}

.search-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  padding: 0.4rem;
  cursor: pointer;
  width: 2.5rem;
  border-radius: 10px;
  background-color: #92e9f2;
}

.search-btn img {
  width: 100%;
}
