.header-1 {
  padding: 0.8rem 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #374f63;
}

.header-1 .header-inputs {
  margin: 1rem 2rem;
  padding: 0rem 1rem;
  width: 50rem;
}

.header-logo {
  cursor: pointer;
  width: 13rem;
}

.header-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-icon {
  width: 4rem;
  margin: 0.6rem;
  cursor: pointer;
}
