.background {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  background-repeat: no-repeat;
  background-image: url("/public/assets/Backgroundimg.png");
  position: fixed;
}

.container-begin {
  height: 100vh;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.container-centered-c {
  height: 100vh;
  width: 100%;
  padding: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-centered-r {
  height: 100vh;
  width: 100%;
  padding: 1.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.div-container1 {
  height: 850px;
  position: absolute;
  top: 0px;
}

.noticiashome {
  height: 500px;
  transform: translate(10%, 20%);
  position: absolute;
  top: 100px;
  width: 1250px;
}

.noticias-table {
  transform: translate(2%, 1%);
  width: 98%;
}

.noticias-table td {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 26px;
  font-weight: 400;
}
.noticias-table-rectangle-component {
  width: 31%;
  height: 490px;
  background-color: #406aa6;
}

.noticias-img {
  width: 360px;
  transform: translate(1%, 2%);
}

.titulo {
  color: #92e9f2;
  font-size: 30px;
}
