input ::placeholder {
  color: #1b425f;
  opacity: 50%;
}

input {
  padding: 0 0.5rem;
}

textarea ::placeholder {
  color: #1b425f;
  opacity: 50%;
}

textarea {
  padding: 0.5rem 0.5rem;
}

.desktop-noticias-para-gamers {
  color: #54e1ef;
  font-family: "Inter", Helvetica;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: fit-content;
  margin: 1rem 0;
}

.desktop-logo-final {
  width: 40rem;
}
.desktop-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 1rem;
  margin: 0.5rem 0;
}

.desktop-button {
  background-color: #1b425f;
  border-radius: 97px;
  height: 5rem;
  width: 20rem;
  border: none;
  color: white;
  font-family: "Inter", Helvetica;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}

.button-text {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 400;
  height: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 381px;
}

/*-------------login---------------------------*/

.login-rectangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #406aa6;
  height: 40rem;
  width: 65%;
  border-radius: 15px;
}

#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin: 1rem 0;
}

.loginlogo {
  width: 35rem;
}

.login-inputs {
  width: 30rem;
  height: 1rem;
  border: none;
  color: #406aa6;
  padding: 1.5rem 1rem;
  margin: 1rem 0;
}

.login-submit {
  width: 20rem;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #1b425f;
  border-radius: 97px;
  border: none;
  color: white;
  padding: 0.5rem 0rem;
}

.toggleLR {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  font-family: "Inter", Helvetica;
  font-size: 1.5rem;
  font-weight: 400;
  height: 54px;
}

.toggleLR > p {
  margin: 0 1rem;
  color: #1b425f;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

/*-------------crearcuenta---------------------------*/
.Crearcuentarectangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #406aa6;
  height: 40rem;
  width: 65%;
  border-radius: 15px;
}

#registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin: 1rem 0;
}

.Crearcuenta-logo {
  width: 35rem;
}

.Crearcuenta-inputs {
  width: 30rem;
  height: 1rem;
  border: none;
  color: #406aa6;
  padding: 1.5rem 1rem;
  margin: 1rem 0;
}

.Crearcuenta-submit {
  width: 20rem;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #1b425f;
  border-radius: 97px;
  border: none;
  color: white;
  padding: 0.5rem 0rem;
}
